{% extends 'base.html' %}

{% block 'body' %}
    <div id="series-list" class="container justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="texto">Gênero - "{{ genero }}"</h1>
            <div class="row" style="margin-top: 200px;">
                {% for filme in paginated_content %}
                    {% if filme.type == 'serie' %}
                        <div class="movie__item col-4" id="search-results" data-carousel="item">
                            <a class="movie-carousel__link" href="{% url 'serie_detail' filme.id %}">
                                <img class="movie-carousel__cover" src="{{ filme.image_thumb.url }}" alt="Capa da série {{ filme.nome_serie }}" />
                            </a>
                            <br>
                            <br>
                            <h3>{{ filme.name_serie }}</h3>
                        </div>
                    {% elif filme.type == 'filme' %}
                        <div class="movie__item col-4" id="search-results" data-carousel="item">
                            <a class="movie-carousel__link" href="{% url 'movie_detail' filme.id %}">
                                <img class="movie-carousel__cover" src="{{ filme.image_thumb.url }}" alt="Capa do filme {{ filme.name_movie }}" />
                            </a>
                            <br>
                            <br>
                            <h3>{{ filme.name_movie }}</h3>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        {% include 'partials/pagination.html' %}
    </div>

{% endblock %}
