
.logo__link {
    background: url('../../imgs/logo2.svg') no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;
    height: 5rem;
    width: 13.5rem;
}

@media screen and (max-width: 1024px){

    .logo__link {
        height: 3.2rem;
        width: 5.9rem;
    }
}