.spacer-2 {
    height: 130px;
}

.bodi {
    background: rgb(0,0,0);
    background: linear-gradient(315deg, rgba(0,0,0,1) 0%, rgba(88,9,121,1) 54%, rgba(73,9,121,1) 79%, rgba(20,17,22,1) 94%);
  
    /* Outras propriedades de estilo */
    width: 100%;
    height: 619px;
  }

.back {
    background: linear-gradient(to bottom, #2B2B36, #1C1C25);
    border-radius: 1rem;
    border: .3rem solid #404048;
    box-shadow: #0f1119 0rem 2rem 2rem -1rem;
}